html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  background: #fff;
  color: #222;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  font-weight: 600;
}

p a:hover {
  text-decoration: wavy underline;
}

p,
li {
  font-size: 16px;
  font-family: 'Poppins', Helvetica, sans-serif;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
  padding: 3px;
}

ul {
  list-style: none;
}

h2 {
  font-family: 'Futura', Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 10px;
}